# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Languages used in Data Science
- Libraries used in Data Science
- Development Environment Open Source Tools used in Data Science
- Example of arithmetic expression in Jupyter Notebooks

There are several languages that Data Scientist frequently use, include:
1. Python
2. R
3. Scala
4. Java
5. C++
6. Julia
7. etc.

There are several libraries that Data Scientist frequently use, include:
1. Pandas (Scientific Computing)
2. Numpy (Scientific Computing)
3. Matplotlib (Visualization)
4. Seaborn (Visualization)
5. Scikit-learn (Machine Learning and Deep Learning)
6. Keras (Machine Learning and Deep Learning)
7. TensorFlow (Deep Learning)
8. PyTorch (Deep Learning)
9. etc

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|Jupyter Lab|
|Apache Zeppelin|
|RStudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This is a simple arithmetic expression to multiply and then add integers

(3*4)+5

17

In [4]:
# This cell will convert 200 minutes to hours by diving by 60.

(200/60)

3.3333333333333335

## Author
Hafiz Putra Amanta